.blog {
  width: var(--wrapper-width);
  margin: 0 auto 10rem;

  &__title {
    margin-bottom: 4rem;
  }

  &__posts {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    @include breakmax($br-tb) {
      flex-flow: column nowrap;
    }
  }

  &__post {
    flex: 0 1 30%;
    @include breakmax($br-tb) {
      margin-bottom: 4rem;
    }
  }
}
