.fancy-background {
  width: 71rem;
  height: 71rem;
  position: absolute;
  border-radius: 50%;

  background: linear-gradient(
    49.08deg,
    rgba(65, 88, 208, 0.5) 3.31%,
    rgba(200, 80, 192, 0.5) 57.52%,
    rgba(255, 204, 112, 0.5) 91.12%
  );
  filter: blur(150px);
  @include breakmax($br-lg) {
    width: 50rem;
    height: 50rem;
  }
  @include breakmax($br-tb) {
    width: 25rem;
    height: 25rem;
    filter: blur(50px);
  }
}
